
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');
/*font-family: 'Caveat', cursive;
font-family: 'DM Serif Display', serif;
font-family: 'Passion One', sans-serif;*/
:root {
    --font1: 'Verdana', 'sans-serif';
    --font2: 'Passion One', sans-serif;
    --font3: 'Caveat', 'cursive';
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);

}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}
header>p{
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: 400;

}
section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh ;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem{
    background-color: grey;
    color: white;
}
section.imagem>p {
    background-color: rgba(0, 0, 0, 0.258);
    width: 400px;
    padding: 25px;
    border-radius: 15px;
}
#img1{
    background-image: url(img/imagem1.jpg);
    background-attachment: fixed;
}
#img2{
    background-image: url(img/imagem2.jpg);
    background-attachment: fixed;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}